---
import Logo from "@/components/Logo.astro";
---

<footer class="text-center mt-14 px-6 fixed bottom-[10vh] left-0 right-0 z-20">
    <div class="p-footer inline-flex items-center gap-3 opacity-0 transition-opacity text-cyan-200/80">
        <Logo class={"size-10 text-cyan-400"} />
        2026 COPYRIGHT
    </div>
</footer>
