---
import { computeCurrentLocale } from "@/i18n/utils";
import Languages from "@/components/icons/Languages.astro";

const url = Astro.url;
const languages = [
    { code: "en", label: "English", icon: "🇬🇧", path: computeCurrentLocale(url, "en") },
    { code: "es", label: "Español", icon: "🇪🇸", path: computeCurrentLocale(url, "es") },
    { code: "pt", label: "Português", icon: "🇵🇹", path: computeCurrentLocale(url, "pt") },
];

const { current = "en", onChange } = Astro.props;
---

<div class="relative inline-block text-left">
    <button
        class="flex items-center justify-between w-40 px-4 py-2 bg-slate-100 border border-slate-300 rounded-md text-slate-700 hover:border-cyan-500 hover:ring-1 hover:ring-cyan-500 transition"
        type="button"
        aria-haspopup="listbox"
        aria-expanded="false"
        id="language-picker-button"
        onclick="document.getElementById('language-picker-list').classList.toggle('hidden')"
    >
        <span>
            <Languages class="size-4" />
        </span>
        <span class="flex items-center gap-2">
            <span>{languages.find((lang) => lang.code === current)?.label}</span>
        </span>
        <svg class="w-5 h-5 text-slate-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </button>

    <ul
        id="language-picker-list"
        class="hidden absolute mt-1 w-full bg-slate-200/20 border border-cyan-300 rounded-md shadow-lg z-10"
        role="listbox"
        aria-labelledby="language-picker-button"
    >
        {
            languages.map((lang) => (
                <li
                    role="option"
                    class="cursor-pointer flex items-center gap-2 px-4 py-2 hover:bg-cyan-50 hover:text-cyan-600 transition"
                >
                    <a href={lang.path}>{lang.label}</a>
                </li>
            ))
        }
    </ul>
</div>
